body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color:darkgray; */
  
}

.header{
  display: flex;
  flex-direction: row;
  background-color: rgb(221 223 44);

}

h1{
  margin-left: 15px;
  margin-top: 6px;
  padding-left:45px;
}

footer{
  margin-top: 0%;
  background-color: black;
  color: white;
  text-align: center;
  position:fixed;
  width:100%;
  bottom:0;
  height:30px;
  padding:10px 0 0 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

form{
  align-items:center;
}

.main_note_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_note{
  justify-content: center;
    align-items: center;
    text-align: center;
margin: 25px;
    width:380px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 10px;
}

input{
  width:98%;
  padding: 4px;
  margin: 9px 0px;
  border-style: none;
  /* border: 1px solid black; */

}
textarea{
  padding:6px;
  margin:0px;
  /* border: 1px solid black; */
  border-style: none;
  height: 86px;
    width: 313px;
}

.main_note .btn{
  border-radius: 50%;
  width: 36px;
  height:54px;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}

.plus_sign{
  color:yellow;
  font-size:15px;
}

.note{
  display: inline-block;
  margin: 40px;
  width: 260px;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 10px;
  height: 128px;
}

.note h1{
  margin-left: 5px;
    margin-top: 6px;
    font-size: 21px;
}
.note p{
  margin-left:5px;
}

.btn{
  border-radius: 50%;
  width: 36px;
  height:36px;
  margin-left: 219px;
  margin-top: 13px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}



.deleteIcon{
  margin-left: -6px;
    margin-top: -5px;
    color:yellow;
}


